.login-form input {
    margin-top: 8px;
    margin-bottom: 8px;
}
.login-form .header {
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
    text-shadow: white 2px 2px;

}

.login-form small {
   margin-left: 10px;
}
.carousel-inner{
    text-shadow: black 2px 2px 5px, black -2px -2px 5px;
    font-size: 20px;
}

.carousel-indicators [data-bs-target]{
    background-color: #626262;
    /*height: 20px;*/
    /*border-radius: 50%;*/
    /*width: 20px;*/
}

#grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media screen and (max-width: 1420px) {
    #grid{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr ;
    }
}@media screen and (max-width: 960px) {
    #grid{
        grid-template-rows: 1fr ;
        grid-template-columns: 1fr;
    }
}
#grid > .card{
    padding: .5em;
    background: #c3c3c3;
    text-align: center;
}

.card a *{
    color: black;
    text-decoration: none;
}
aside {
    background: #f0f0f0;
    padding: 10px;
    width: 200px;
    float: right;
}

.pagination nav{
    margin-left: auto;
    margin-right: auto;
    /*transform: translateX(-150px);*/
    margin-bottom: 15px;
}
.btn-dark:hover{
    color: red !important;
}
a .fa-times{
    font-size: 20px;
    color: red;
    transition: .2s all linear;
}
a .fa-times:hover{

    padding: 10px;
    background-color: rgb(0,0,0,0.3);
}

