header{

}
html{
    margin: 0 !important;
    padding: 0 !important;
}
body{
    width: 100%;
    margin: 0;
    /*margin-top: -23px !important;*/
    padding-bottom: 20px;
}
header div{

}
img{
    max-width: 100%;
}
header div ul {
    list-style: none;
    background: #00A8EF;
    display: flex;
    justify-content: space-around;
    align-items: center;

    /*flex-direction: row;*/
    font-size: 1.4rem;
    letter-spacing: 0;
    line-height: 2.4rem;

}
header div ul li a{
    text-decoration: none !important;
}
header div ul li a:hover{
    color: whitesmoke;
}
header div ul li
{
    /*border: 1px solid black;*/
    /*background-color: #9dffff;*/
    /*padding: 5px;*/
    /*border-radius: 10px;*/
    /*max-width: 200px;*/
}
footer {
    height: 40px;
    padding-top:8px;
    width: 100%;
    background-color: blue;
    color: whitesmoke;
    font-size: medium;
    text-align: center;
    position: fixed ;
    bottom: 0px;
}
header div .sub-menu{
    display: none;
}
#pagination *{
    text-decoration: none;
}
.wp-block-image{
    margin: 0 auto 0 auto;
}